.resume-container {
    margin: 10px;
    box-shadow: 0 0 10px rgb(80, 79, 79);
    background-color: whitesmoke;
}

#search-bar{
    background: #eaeaea;
    width: 30%;
    margin: 15px 0;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid black;
    padding: 10px 10px;
}
#search-bar:hover{
    background: #ffffff;
    transition: 0.5s;
}
.resume-header {
    background-color: lightblue;
    text-align: center;
    background-color:li;
}

#name {
    font-size: 48px;
    padding-top: 50px;
    margin: 0;
}
.appliedFor {
    font-size: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
}

.candidate-image {
    margin-left: 75%;
    width: 120px;
    height: 120px;
    margin-top: -140px;
}

.resume-columns {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px;
    grid-gap: 50px;
}

.col-1 {
    background-color: rgb(252, 197, 175);
    padding: 10px;
    text-align: right;
}

.col-1-heading {
    background-color: grey;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.col-1 div {
    padding-left: 7px;
    font-size: 17px;

}
#search-result-area {
    text-align: center;
}
#search-bar-area label{
    display: flex;
}
#search-bar-area label i{
    margin-left: 15px;
    color: #999;
}

#search-results {
    list-style-type: none;
}

.search-bar-area {
    text-align: center;
    margin: auto;
}

#searchbar {
    width: 400px;
}

.resume-container {
    border: 2px solid black;
}

.resume-display-area {
    display: inline;
}

.resume-container h3 {
    font-size: x-large;
}

#project-details, #work-experience {
    margin-left: 40px;
}